.sidebar-container {
  width: 100%;
  flex-shrink: 0;
  z-index: 1;
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
  position: relative !important;
  height: 50vh;
}

.sidebar-tabs {
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  color: hsl(210deg 9% 36%);
  height: 100%;
}
/* .sidebar-tabs > *{
  margin-bottom: 1rem;
  margin-right: 30px;
} */

.vl {
  border-left: 1px solid black;
  height: 500px
}

.sidebar-tabs_public{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
}