.Home{
    height: 100vh;
    max-width: 100%;
}

.Home_Navbar{
    height: fit-content;
}

.Home_Sidebar{
    height: 90%;
}

.Home_Sidebar_Col{
    box-shadow: 1px 0 0 lightgrey;

}

.Home_Questions_Col_Tabs_Text{
    font-size: 2.5rem;
    margin: 1rem;
}

.Home_Questions_Col_Tabs_Button{
    height: 3rem;
    margin: 1rem;
}

.Home_Questions_Col{
    box-shadow: 1px 0 0 lightgrey;
}

.Home_Questions_Col_Tabs{
    box-shadow: 0 1px 0 lightgrey;
    height: 20%;
}