.Profile_Image {
  padding-left: 4%;
  padding-top: 10%;
  padding-right: 0%;
}

.Profile_User_Info {
  padding-top: 5px;
  font-size: small;
  color: #9099a1;
}

.Profile_Button_group {
  background-color: white;
  border-color: white;
  border-radius: 2rem;
  color: black;
  font-size: small;
}

.Profile_Button_group:hover {
  background-color: #ececec;
  border-color: #ececec;
  color: black;
}

.Profile_Button_group:focus {
  background-color: #f48224;
  border-color: #f48224;
  color: white;
  outline: 0;
  box-shadow: none;
}

.Profile_Button_group_alt {
  background-color: #f48224;
  border-color: #f48224;
  color: white;
  outline: 0;
  box-shadow: none;
}

/* .Profile_Button_group:active {
  background-color: #f48224;
  border-color: #f48224;
  color: white;
  outline: none !important;
} */

.Profile_Main_Page_Cards {
  width: 80%;
  height: 80%;
  /* background: #f8f9f9; */
}

.Profile_Main_Page_Card_Content {
  font-size: small;
  color: #9099a1;
  text-align: center;
  position: relative;
  top: 25%;
  bottom: 25%;
}

.Profile_Main_Page_BadgesCard_Content {
  font-size: small;
  color: #9099a1;
  text-align: left;
  position: relative;
  top: 0%;
  bottom: 0%;
}

img {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}